<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Generador de contraseñas</title>
</head>
<body>
    <h1>Generador de contraseñas</h1>
    <form method="post">
        <label for="length">Longitud de la contraseña:</label>
        <input type="number" name="length" min="1" max="100" required>
        <br>
        <input type="checkbox" name="uppercase" id="uppercase">
        <label for="uppercase">Incluir letras mayúsculas</label>
        <br>
        <input class="ss" type="submit" value="Generar">
    </form>
    {% if password %}
        <h2>Contraseña generada:</h2>
        <p>{{ password }}</p>
    {% endif %}
    <div class="generated-password">{{ generated_password }}</div>

    
    


</body>
</html>
